body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("img/Eco1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #77e3bac7;
    color: black;
    padding: 20px;
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    background-color: #77e3bac7;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

nav a {
    color: black;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: #77e3babc;
    color: black;
    text-align: center;
    padding: 10px;
}
